
#hero{
   
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: url('../img/hero2.jpg');
    


    #overlay{
        display: flex;
        justify-content: left;
        padding-left: 20vh;
        padding-top: 20vh;
        align-items: center;
        text-align: left;
        
    
        h1{
            font-family: Quicksand;
            font-size: 80px;
            
        }

        h2{
            padding-top: 5vh;
            padding-bottom: 1vh;
            font-family: Quicksand;
            font-size: 35px;
        }

    
        
        button{
            background-color: --green;
            color: --white;
            padding: 15px 32px;
            text-align: center;
            font-size: 18px;
            cursor: pointer;
        }
    
    
    }
    
    
}


