#logo{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: 
    ". logo .";
    height: 100vh;

    @include lg{
        grid-template-columns: auto 1200px auto;
    }

    >div{
        grid-area: logo;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        svg{

    
        }
    }

    
}

