#section2{
    background-color: green;
    display: grid;
    grid-template-rows: 50px 50px;
    
    gap:10px;
    height: 200vh;

    #gallery1{
        background-image: url("../img/plant2.jpg");
        background-size: 50vh;
        background-position: center;

    }

    #gallery2{
        background-image: url("../img/plant3.jpg");
        background-size: cover;
        background-position: center;

    }

    #gallery3{
        background-image: url("../img/plant4.jpg");
        background-size: cover;
        background-position: center;

    }

    #gallery4{
        background-image: url("../img/plant5.jpg");
        background-size: cover;
        background-position: center;

    }
}