#section2{
    background-color: #9DC183;
    display: grid;
    grid-template-columns: 48% auto;
    padding: 10vh;
    gap:10vh;
    height: 125vh;

    #gallery1{
        background-image: url("../img/plant1.jpg");
        background-size: cover;
        background-position: center;

    }

    #gallery2{
        background-image: url("../img/plant3.jpg");
        background-size: cover;
        background-position: center;

    }

    #gallery3{
        background-image: url("../img/plant4.jpg");
        background-size: cover;
        background-position: center;

    }

    #gallery4{
        background-image: url("../img/plant5.jpg");
        background-size: cover;
        background-position: center;

    }
}