#section3{
    background-color:white;
    display: flexbox;
    padding: 10vh;


    #section-3-content{
        display: grid;
        grid-template-columns: 40% auto;
        gap:40px;

        aside{
            height: 70vh;
            background-image: url("../img/plant2.jpg");
            background-size: cover;
            background-position: center;
    
        }

        #text2{
            display: flex;
            align-items: center;
            color: black;
            height: 100%;
            

            h1{
                font-size: 80px;
                color: green;
            }

            h3{
                font-size: 40px;
                line-height: rem-calc(60px);
            }
        }
    }


    
    
}